@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

:root {
  /* Primary */
  --soft-blue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);

  /* Neutral */
  --dark-blue_main_BG: hsl(217, 54%, 11%);
  --dark-blue_card_BG: hsl(216, 50%, 16%);
  --dark-blue_line: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
}

.app {
  font-size: 18px;
  font-family: "Outfit", sans-serif;
  background: var(--dark-blue_main_BG);
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 1 1 auto;
}

.container {
  display: flex;
  flex-basis: calc(100% - 60px);
  justify-content: center;
  align-items: center;
}

.card {
  background: var(--dark-blue_card_BG);
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  padding: 1.2rem;
  width: 320px;
  gap: 0.8rem;
}

.card-image{
    position: relative;
    height: max-content;
}

.image-wrapper {
    object-fit: cover;
    border-radius: 6px;
    position: relative;
    height: max-content;
    cursor: pointer;
}

.image-wrapper:hover::before {
    background-color: rgba(0, 255, 255, 0.664);
    background-image: url("./../../images/icon-view.svg");
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 32px;
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 6px;
    content: '';
}

.image-wrapper img {
    border-radius: 6px;
    width: 100%;
}

.card-title {
  color: var(--white);
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  width: max-content;
}

.card-title:hover {
    color: var(--cyan);
}

.card-description {
  color: var(--soft-blue);
  font-size: 14px;
}

.card-information {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.card-details {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 400;
}

.card-price {
  align-items: center;
  color: var(--cyan);
  display: flex;
  gap: 0.4rem;
}

.card-datetime {
  align-items: center;
  color: var(--soft-blue);
  display: flex;
  gap: 0.4rem;
}

.card-author {
  align-items: center;
  border-top: 1px solid var(--dark-blue_line);
  display: flex;
  gap: 0.8rem;
  padding-top: 0.8rem;
}

.author-photo {
  border: 2px solid var(--white);
  border-radius: 50%;
  height: 32px;
  object-fit: cover;
  width: 32px;
}

.author-photo img {
  width: 100%;
}

.author-information {
  color: var(--soft-blue);
  font-size: 14px;
  font-weight: 400;
}

.author-information span {
    color: var(--white);
    cursor: pointer;
}

.author-information span:hover {
    color: var(--cyan);
}

.attribution {
  align-items: center;
  background-color: var(--dark-blue_card_BG);
  border-top: 1px solid var(--dark-blue_line);
  color: var(--white);
  display: flex;
  font-size: 16px;
  font-weight: 300;
  justify-content: center;
  height: 60px;
}

.attribution a {
  color: var(--soft-blue);
  text-decoration: none;
}
